<nav id="top-navbar" class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "logo_transparent.png", height: 28, width: 28 %>
        <span>TalksNight</span>
      <% end %>

      <div class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar--menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>

    <div id="top-navbar--menu" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if current_user %>
            <%= button_to "Log out", session_path("current"), method: :delete, class: "button is-white" %>
          <% else %>
            <div class="buttons">
              <%= link_to new_user_path, class: "button is-primary" do %>
                <strong>Sign up</strong>
              <% end %>
              <%= link_to "Log in", new_session_path, class: "button is-light" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
